
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
   
}
span{
    color: gold;
}
button{
    background-color: red;
    color: white;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
   
}
.half-width{
    width: 50%;
    padding-left: 8%;
}

.half-width img{
    width: 60%;
    margin-top: 10px;
} 
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,rgb(255, 0, 21));
    padding: 10px 40px;
    color: wheat;
    font-weight: 700;
    border-radius: 10px;


}
.top-banner{
    background-image: url(images/top-banner.png);    
    background-repeat: no-repeat;

}
                                

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
   
}
.experience-area .half-width{


    
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    padding: 10px;
    border-left: hotpink solid 5px;
}
#web{

    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
